<h1>You guessed the password!</h1>

<h2>The Password was: {{output}}</h2>
<div class="section">
    <div class="form">
        <form action="/" method="get">
            <button type="submit">Return to home</button>
        </form>
    </div>
</div>