<div class="form"> Guess the password!
</div>
<div class="section">
    <div class="form">
        <form action="/about/submit" method="post">
            <input type="text" name="id">
            <button type="submit">Submit</button>
        </form>
    </div>
</div>