body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

* {
  margin: 0;
  padding: 0;
}

.section {
  height: 400px;
  display: flex;
}

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  line-height: 44px;
  align-items: center;
}
